<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
  input {
    width: 20%;
  }

</style>

<table id="t03" class="table table-bordered" [mfData]="drugList" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead>
  <tr>
    <th style="width: 20%">
      <mfDefaultSorter by="name">Name</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">Category</mfDefaultSorter>
    </th>

    <th>
      <mfDefaultSorter by="name">Diseases</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">Quantity</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">Price</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">Remove from cart</mfDefaultSorter>
    </th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let drug of x; let i = index">
    <td>{{drug.name}}</td>
    <td>{{drug.category}}</td>
    <td>
      <div *ngFor='let dis of drug.diseases'>
        {{dis.name}}
      </div>
    </td>
    <td>1</td>
    <td>{{drug.price}}</td>

    <td>
      <button name="'button' + i" (click)="removeFromCart(i)">Remove product</button>
    </td>

  </tr>

  </tbody>

  <tfoot>
  <tr>
    <td colspan="20">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>

<div>
  <form role="form" (ngSubmit)="sendCommamd()">
    <div class="form-group">
      <label for="first-name">First Name:</label>
      <input type="text" class="form-control" id="first-name" name="first-name" [(ngModel)]="firstName"/>
    </div>
    <div class="form-group">
      <label for="last-name">Last Name:</label>
      <input type="text" class="form-control" id="last-name" name="last-name" [(ngModel)]="lastName"/>
    </div>

    <div class="form-group">
      <label for="addr">Address:</label>
      <input type="text" class="form-control" id="addr" name="addr" [(ngModel)]="address"/>
    </div>

    <div class="form-group">
      <label for="phoneNo">PhoneNo:</label>
      <input type="text" class="form-control" id="phoneNo" name="phoneNo" [(ngModel)]="phoneNo"/>
    </div>

    <button type="submit" class="btn btn-primary">SendCommand</button>
  </form>
</div>


</body>
</html>
