<!DOCTYPE html>
<html>
<head>
  <style>
    .hospital-name-component {
      width: 170px;
      height: 25px;
    }

    .adminDoctor {
      display: flex;
    }

    select {
      width: 50%;
    }

    .addDoctor {
      width: 40%;
    }

    .updateDoctor {
      width: 40%;
    }

    input {
      width: 50%;
    }

  </style>
</head>

<body>
Search doctor by hospital
<br/>
<br/>
<select #hospital class="hospital-name-component" (change)="getData(hospital.value)">
  <option selected="selected" disabled>Hospital Name</option>
  <option *ngFor="let h of hospitalList" [value]="h.name">{{h.name}}</option>
</select>
<br/>
<br/>
City:
<br/>
<input [(ngModel)]='city' type="text" disabled>
<br/>

<br/>
<button (click)="getDoctorsByHospital()" class="btn btn-success">Get doctors</button>
<br/>


<table id="t03" class="table table-bordered" [mfData]="doctors" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead>
  <tr>
    <th style="width: 10%">
      <mfDefaultSorter by="firstName">Name</mfDefaultSorter>
    </th>
    <th style="width: 10%">
      <mfDefaultSorter by="lastName">PhoneNo</mfDefaultSorter>
    </th>
    <th style="width: 10%">
      <mfDefaultSorter by="firstName">StartHour</mfDefaultSorter>
    </th>
    <th style="width: 10%">
      <mfDefaultSorter by="lastName">EndHour</mfDefaultSorter>
    </th>
  </tr>
  </thead>

  <tbody>
  <tr template='ngFor let e of doctors'>
    <td>{{e.name}}</td>
    <td>{{e.phoneNo}}</td>
    <td>{{e.startHour}}</td>
    <td>{{e.endHourAddDr}}</td>
  </tr>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="20">
      <mfBootstrapPaginator [rowsOnPageSet]="[5]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>


<div class="adminDoctor" *ngIf="isAdmin" >
  <div class="addDoctor">
    Add new  section :
    <!--<form role="form" (ngSubmit)="addDoctor()" [ngModelOptions]="{standalone: true}">-->
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name"/>
      </div>
      <div class="form-group">
        <label for="phoneNo">phoneNo:</label>
        <input type="text" class="form-control" id="phoneNo" name="phoneNo" [(ngModel)]="phoneNo"/>
      </div>

      <div class="form-group">
        <label for="startHour">StartHour:</label>
        <input type="text" class="form-control" id="startHour" name="startHour" [(ngModel)]="startHour"/>
      </div>

      <div class="form-group">
        <label for="endHourAddDr">EndHour:</label>
        <input type="text" class="form-control" id="endHourAddDr" name="endHourAddDr"  [ngModel]="endHourAddDr"/>
      </div>

      <select #hospital_combo class="drug-name-component" (change)="getHospitalSectors(hospital_combo.value)" [(ngModel)]="hospitalName">
        <option selected="selected" disabled>Hospital name</option>
        <option *ngFor="let h of hospitalList" [value]="h.name">{{h.name}}</option>
      </select>

      <br/>
      <br/>

      <select #sector class="drug-name-component" [(ngModel)]="sectorName">
        <option selected="selected" disabled>Sector Name</option>
        <option *ngFor="let sector of sectors" [value]="sector.name">{{sector.name}}</option>
      </select>
      <br/>
      <br/>
      <button type="submit" class="btn btn-primary" (click)="addDoctor()">Add doctor</button>
    <!--</form>-->
  </div>


  <div class="updateDoctor">
    Update  section : <br/>
    <label for="name-update">Name:</label><br/>
    <input type="text" class="form-control" id="name-update" name="nameForUpdate" [(ngModel)]="nameForUpdate"/><br/>
    <label for="phoneNo-update">phoneNo:</label><br/>
    <input type="text" class="form-control" id="phoneNo-update" name="phoneNoForUpdate" [(ngModel)]="phoneNoForUpdate"/><br/>

    <label for="startHour-update">Start hour:</label>
    <input type="text" class="form-control" id="startHour-update" name="startHourForUpdate" [(ngModel)]="startHourForUpdate"/><br/>

    <label for="endHour-update"> End hour</label>
    <input type="text" class="form-control" id="endHour-update" name="endHourForUpdate" [(ngModel)]="endHourForUpdate"/><br/>

    <select #hospital_combo_update class="drug-name-component"  name="hospitalForUpdate" (change)="getHospitalSectorsForUpdate(hospital_combo_update.value)" [(ngModel)]="hospitalNameForUpdate">
      <option selected="selected" disabled>Hospital name</option>
      <option *ngFor="let h of hospitalList" [value]="h.name">{{h.name}}</option>
    </select>

    <br/>
    <br/>

    <select #sector class="drug-name-component" [(ngModel)]="sectorNameForUpdate">
      <option selected="selected" disabled>Sector Name</option>
      <option *ngFor="let sector of sectorsForUpdate" [value]="sector.name">{{sector.name}}</option>
    </select>


    <button type="submit" class="btn btn-primary" (click)="updateDoctor()">Update doctor</button>
  </div>


  <div>
    Delete section
    <div class="form-group">
      <label for="nameDelete">Name:</label>
      <input type="text" class="form-control" id="nameDelete" name="name" [(ngModel)]="name"/>
    </div>
    <button type="submit" class="btn btn-primary" (click)="deleteDoctor()">Delete doctor</button>
  </div>


</div>
</body>
</html>
