<style>
  .hospital-name-component, .doctors-name-component {
    width: 170px;
    height: 25px;
  }
</style>

<br/>
<select #hospital class="hospital-name-component" (change)="getData(hospital.value)">
  <option selected="selected" disabled>Hospital Name</option>
  <option *ngFor="let h of hospitalList" [value]="h.name">{{h.name}}</option>
</select>
<br/> <br/>
HospitalCity
<br/>
<input [(ngModel)]="hospitalCity" type="text" disabled>
<br/> <br/>


Category
<select #sectors [(ngModel)]="category" (change)="getDoctorsByHospitalAndSector()">
  <option selected="selected" disabled>Category ...</option>
  <option *ngFor="let c of hospitalSectors" [value]="c.name">{{c.name}}</option>
</select>
<br/>
<br/>
DoctorName
<br/>
<select #doctors [(ngModel)]="doctorName" class="doctors-name-component">
  <option selected="selected" disabled>Doctors Name</option>
  <option *ngFor="let d of doctorsList" [value]="d.name">{{d.name}}</option>
</select>
<br/>
<br/>
Date
<br/>

<input
  [(ngModel)]="date"
  ngui-datetime-picker
  date-only="true"/>
<br/> <br/>

Phone Number <br/>
<input [(ngModel)]="phoneNumber" type="number">
<br/> <br/>
<button type="button" (click)="makeAppointment()" class="btn btn-warning">Make appointment</button>
