<div>
  <form role="form" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="name"/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
