<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Drugs</title>
  <style>
    .admin_drug {
      display: flex;
    }

    select {
      width: 50%;
    }

    .addDrug {
      width: 40%;
    }

    .updateDrug {
      width: 40%;
    }

    input {
      width: 50%;
    }


  </style>
</head>
<body>


<span class="list-group">
      <th style="width: 40%"><button type="button" class="list-group-item list-group-item-success"
                                     (click)="getDrugsByCategory('inima')">Inima</button>  </th>
      <br/>
      <th style="width: 30%"><button type="button" class="list-group-item list-group-item-info"
                                     (click)="getDrugsByCategory('plamani')">Plamani</button></th>
      <br/>
      <th style="width: 20%"> <button type="button" class="list-group-item list-group-item-warning"
                                      (click)="getDrugsByCategory('stomac')">Stomac</button></th>
      <br/>
      <th style="width: 10%"> <button type="button" class="list-group-item list-group-item-danger"
                                      (click)="getDrugsByCategory('ochi')">Ochi</button></th>
    </span>

<table id="t03" class="table table-bordered" [mfData]="drugList" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead>
  <tr>
    <th style="width: 20%">
      <mfDefaultSorter by="name">Name</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">Composition</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">Category</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">AdverseReaction</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">Diseases</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">Quantity</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">Price</mfDefaultSorter>
    </th>
    <th>
      <mfDefaultSorter by="name">AddToChart</mfDefaultSorter>
    </th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let drug of drugList; let i = index">
    <td>{{drug.name}}</td>
    <td>{{drug.composition}}</td>
    <td>{{drug.category}}</td>
    <td>{{drug.adverseReactions}}</td>
    <td>
      <div *ngFor='let dis of drug.diseases'>
        {{dis.name}}
      </div>
    </td>

    <td>{{drug.quantity}}</td>
    <td>{{drug.price}}</td>
    <td>
      <button name="'button' + i" (click)="addToCart(i)">AddToChart</button>
    </td>

  </tr>

  </tbody>

  <tfoot>
  <tr>
    <td colspan="20">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>

<div class="admin_drug" *ngIf="isAdmin">
  <div class="addDrug">
    Add new drug section :
    <!--<form role="form" (ngSubmit)="addDrug()">-->
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name"/>
      </div>
      <div class="form-group">
        <label for="composition">Composition:</label>
        <input type="text" class="form-control" id="composition" name="composition" [(ngModel)]="composition"/>
      </div>

      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" class="form-control" id="category" name="category" [(ngModel)]="category"/>
      </div>


      <div class="form-group">
        <label for="adverseReaction">AdverseReaction:</label>
        <input type="text" class="form-control" id="adverseReaction" name="adverseReaction"
               [(ngModel)]="adverseReaction"/>
      </div>

      <select #drug class="drug-name-component" [(ngModel)] = "diseaseNameForAdd">
        <option selected="selected" disabled>Disease Name</option>
        <option *ngFor="let d of diseaseList" [value]="d.name">{{d.name}}</option>
      </select>


      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="text" class="form-control" id="quantity" name="quantity" [(ngModel)]="quantity"/>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" class="form-control" id="price" name="price" [(ngModel)]="price"/>
      </div>


      <button type="submit" class="btn btn-primary" (click)="addDrug()">Add drug</button>
    <!--</form>-->
  </div>


  <div class="updateDrug">
    Update drug section : <br/>
    <div class="form-group">
      <label for="nameUpdate">Name:</label>
      <input type="text" class="form-control" id="nameUpdate" name="nameForUpdate" [(ngModel)]="nameForUpdate"/>
      <button type="submit" class="btn btn-primary" (click)="findByName()">Find drug</button>
    </div>
    <div class="form-group">
      <label for="compositionUpdate">Composition:</label>
      <input type="text" class="form-control" id="compositionUpdate" name="compositionForUpdate" [(ngModel)]="compositionForUpdate"/>
    </div>
    <div class="form-group">
      <label for="categoryUpdate">Category:</label>
      <input type="text" class="form-control" id="categoryUpdate"name="categoryForUpdate" [(ngModel)]="categoryForUpdate"/>
    </div>

    <div class="form-group">
      <label for="adverseReactionUpdate">AdverseReaction:</label>
      <input type="text" class="form-control" name="adverseReactionForUpdate" id="adverseReactionUpdate"
             [(ngModel)]="adverseReactionForUpdate"/>
    </div>

    <select #drug_update class="drug-name-component" [(ngModel)] = "diseaseNameForUpdate">
      <option selected="selected" disabled>Disease Name</option>
      <option *ngFor="let d of diseaseList" [value]="d.name">{{d.name}}</option>
    </select>

    <br/>
    <div class="form-group">
      <label for="quantityUpdate">Quantity:</label>
      <input type="text" class="form-control" id="quantityUpdate" name="quantityForUpdate" [(ngModel)]="quantityForUpdate"/>
    </div>
    <div class="form-group">
      <label for="priceUpdate">Price:</label>
      <input type="text" class="form-control" id="priceUpdate" name="priceForUpdate" [(ngModel)]="priceForUpdate"/>
    </div>
    <button type="submit" class="btn btn-primary" (click)="updateDrug()">Update drug</button>
    <br/>
  </div>


  <div>
    Delete section
    <div class="form-group">
      <label for="nameDelete">Name:</label>
      <input type="text" class="form-control" id="nameDelete" name="name" [(ngModel)]="name"/>
    </div>
    <button type="submit" class="btn btn-primary" (click)="deleteDrug()">Delete drug</button>
  </div>

</div>
</body>
</html>
