<!DOCTYPE html>
<html>
<head>
  <style>
    input {
      width: 50%;
    }

    button {
      margin-top: 10px;
      margin-bottom: 5px;
      margin-right: 10px;
    }

    .createDisease {
      width: 40%;
    }

    .updateDisease {
      width: 40%;
    }

    .adminDisease {
      display: flex;
    }

  </style>
</head>
<body>
<!--Disease Name:-->

<!--<select id="diseaseName" [(ngModel)]="diseaseName" (ngModelChange)="getDiseaseByName()">-->
  <!--<option selected="selected" disabled>Disease Name</option>-->
  <!--<option *ngFor="let d of diseases" [value]="d.name">{{d.name}}</option>-->
<!--</select>-->

<!--<table id="t01" class="table table-bordered" [mfData]="diseases" #mf="mfDataTable" [mfRowsOnPage]="10">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th style="width: 10%">-->
      <!--<mfDefaultSorter by="name">Name</mfDefaultSorter>-->
    <!--</th>-->
    <!--<th style="width: 10%">-->
      <!--<mfDefaultSorter by="symptoms">Symptoms</mfDefaultSorter>-->
    <!--</th>-->

  <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
  <!--<tr>-->
    <!--<td>{{disease.name}}</td>-->
    <!--<td>-->
      <!--{{disease.symptoms}}-->
  <!--</tr>-->
  <!--</tbody>-->

  <!--<tfoot>-->
  <!--<tr>-->
    <!--<td colspan="20">-->
      <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>-->
    <!--</td>-->
  <!--</tr>-->
  <!--</tfoot>-->
<!--</table>-->

<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Choose category <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" (click)="getDiseaseByCategory('inima')">Inima</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="getDiseaseByCategory('plamani')">Plamani</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="getDiseaseByCategory('stomac')">Stomac</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="getDiseases()">All</a>
    </li>
  </ul>
</div>


<table id="t02" class="table table-bordered" [mfData]="comboBoxDiseaseList" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead>
  <tr>
    <th style="width: 10%">
      <mfDefaultSorter by="name">Name</mfDefaultSorter>
    </th>
    <th style="width: 10%">
      <mfDefaultSorter by="symptoms">Symptoms</mfDefaultSorter>
    </th>

  </tr>
  </thead>

  <tbody>
  <tr template="ngFor let d of comboBoxDiseaseList">
    <td>{{d.name}}</td>
    <td>
      {{d.symptoms}}
  </tr>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="20">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>



<br/>
<div class="adminDisease"  *ngIf="isAdmin">
  <div class="createDisease">
    Add new disease section :
    <form role="form"  method="post" action="/diseases/">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="diseaseName"/>
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" class="form-control" id="category" name="category" [(ngModel)]="category"/>
      </div>

      <div class="form-group">
        <label for="symptoms">Symptoms:</label>
        <input type="text" class="form-control" id="symptoms" name="symptoms" [(ngModel)]="symptomStr"/>
      </div>

      <button type="submit" class="btn btn-primary" (click)="addDisease()">Add disease</button>
    </form>
  </div>


  <div class="updateDisease">
    Update disease section : <br/>
    <label for="name-update">Name:</label><br/>
    <input type="text" class="form-control" id="name-update" name="name-update" [(ngModel)]="diseaseNameForUpdate"/>
    <button type="submit" class="btn btn-primary" (click)="getDiseaseByNameForUpdate()">Get Disease</button><br/>
    <label for="category-update">Category:</label><br/>
    <input type="text" class="form-control" id="category-update" name="category-update" [(ngModel)]="categoryForUpdate"/><br/>
    <label for="symptoms-update">Symptoms:</label>
    <input type="text" class="form-control" id="symptoms-update" name="symptoms-update" [(ngModel)]="symptomsListForUpdate"/><br/>
    <button type="submit" class="btn btn-primary" (click)="updateDisease()">Update</button>
    <br/>
  </div>


  <div>
    Delete section
    <div class="form-group">
      <label for="nameDelete">Name:</label>
      <input type="text" class="form-control" id="nameDelete" name="nameDelete" [(ngModel)]="diseaseNameForDelete"/>
    </div>
    <button type="submit" class="btn btn-primary" (click)="deleteDisease()">Delete disease</button>
  </div>


</div>
</body>
</html>
